* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.friends-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 5px 5px 20px black;
    margin: 20px;
    border-radius: 50px;
}

.generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-list-ul {
    list-style: none;
}

.friends-list-item {
    margin: 30px auto;
}

.generated-range {
    list-style: none;
    margin: 5px;
}

/* NAVBAR */
.nav-bar-container {
    width: 100%;
}

.routes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.routes-item {
    color: black;
}

.routes-item[active="true"] {
    color: green;
}

#die-trash-container {
    margin: 20px auto;
}

#die-trash {
    margin: 20px;
    float: left;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

#test-lol {
    width:100px;
    height: 150px;
    background: url("https://source.unsplash.com/random/experimental") no-repeat center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    margin-bottom: 50px;
}

#friends-list-before-image {
    position: absolute;
    transform: translateX(-120%);
    width: 50px;
    height: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    margin-bottom: 50px;
}