* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.friends-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 5px 5px 20px black;
    margin: 20px;
    border-radius: 50px;
}

.generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-list-ul {
    list-style: none;
}

.friends-list-item {
    margin: 30px auto;
}

.generated-range {
    list-style: none;
    margin: 5px;
}